.about {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  @include vp-tablet {
    padding-top: 60px;
    flex-flow: column wrap;
  }

  @include vp-mobile {
    padding: 25px 15px 0;
  }
}

.about__title {
  margin: 30px 0 7px 0;
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-tablet {
    margin: 43px 0 -5px 0;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.06em;
  }

  @include vp-mobile {
    margin-top: 40px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }
}

.about__subtitle {
  margin: 0;
  font-family: $font-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  @include vp-tablet {
    margin-top: 7px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
  }

  @include vp-mobile {
    margin-top: 15px;
    letter-spacing: -0.06em;
  }
}

.about__text-container {
  max-width: 355px;
  margin: 9px 0 0 60px;

  @include vp-tablet {
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
  }

  @include vp-mobile {
    text-align: left;
  }
}

.about__description {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  &:first-of-type {
    margin-top: 38px;
    margin-bottom: 5px;
  }

  @include vp-tablet {
    &:first-of-type {
      margin-top: 35px;
      padding-right: 27px;
      letter-spacing: -0.06em;
    }
  }

  @include vp-mobile {
    &:first-of-type {
      margin-top: 24px;
      padding-right: 27px;
    }
  }
}

.about p:first-child {
  @include vp-tablet {
    margin-top: 34px;
  }
}

.about__description--more {
  margin-top: 8px;

  @include vp-tablet {
    display: none;
  }
}

.about__media-container {
  width: 56.8%;
  display: flex;
  flex-direction: column;

  @include vp-tablet {
    width: 100%;
    margin-top: 39px;
    align-items: center;
  }

  @include vp-mobile {
    margin-top: 28px;
  }
}

.about__gym-img {
  @include vp-tablet {
    max-width: 678px;
    width: 100%;
    height: 345px;
    object-fit: cover;
  }

  @include vp-mobile {
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-bottom: 40px;
  }
}

.about__video-container {
  width: 364px;
  height: 228px;
  margin-top: -112px;
  margin-left: -64px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $video-overlay-bg;
    opacity: 1;
  }

  &:hover::before {
    opacity: 0;
    transition: 0.5s ease;
  }

  @include vp-tablet {
    width: 266px;
    height: 167px;
    margin-top: -85px;
    margin-left: 0;
  }

  @include vp-mobile {
    width: 320px;
    height: 167px;
    margin-top: 0;
  }
}

.about__video-container img {
  width: 100%;
  height: auto;
}

.about__video-button {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background: url("../img/icon-play.svg") no-repeat center;
  cursor: pointer;
  border-radius: 50%;

  &:hover,
  &:focus {
    transition: opacity 2s ease-out;
    opacity: 0.6;
  }

  @include vp-tablet {
    background-size: 72%;
  }
}
