.about {
  min-height: 636px;

  @include vp-tablet {
    min-height: 754px;
  }

  @include vp-mobile {
    min-height: 860px;
  }
}

.about__container {
  position: relative;
  display: grid;
  grid-template-columns: 355px 1fr;
  column-gap: 85px;
  padding: 0 44px 50px 104px;
  max-width: 1250px;

  @include vp-tablet {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  @include vp-mobile {
    padding: 0;
    padding-bottom: 20px;
  }
}

.about__text {
  margin-top: 38px;

  @include vp-tablet {
    margin-top: 0;
  }

  @include vp-mobile {
    padding: 0 15px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;

  @include vp-tablet {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-mobile {
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
    text-align: start;
  }
}

.about__subtitle {
  margin: 0;
  font-size: 18px;

  @include vp-tablet {
    text-align: center;
    padding: 0 50px;
  }

  @include vp-mobile {
    padding: 0;
    text-align: start;
  }
}

.about__description {
  margin-top: 40px;

  @include vp-tablet {
    margin-top: 35px;

    p:not(:first-child) {
      display: none;
    }
  }

  @include vp-mobile {
    margin-top: 25px;
    padding-right: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;

    &:first-child {
      margin-bottom: 10px;
    }

    @include vp-tablet {
      margin-bottom: 42px;
    }

    @include vp-mobile {
      margin-bottom: 33px;
    }
  }
}

.about__picture {
  max-height: 401px;
}

.about__gym-img {
  width: 100%;
  object-fit: cover;

  @include vp-tablet {
    height: 345px;
  }

  @include vp-mobile {
    height: 313px;
  }
}

.about__video {
  position: absolute;
  left: 53%;
  top: 403px;
  width: 364px;
  height: 228px;
  transform: translate(-50%, -50%);
  background-color: $color-default-black;

  @include hover-focus {
    img,
    .video__button {
      opacity: 0.5;
      transition: 0.5s ease;
    }
  }

  @include vp-tablet {
    top: 570px;
    left: 50%;
    width: 266px;
    height: 166px;
    padding: 10.2% 17%;
  }

  @include vp-mobile {
    position: static;
    width: 100%;
    height: 167px;
    padding-bottom: 42.25%;
    margin-top: 39px;
    transform: translate(0);
  }
}

.about .is-active {
  cursor: pointer;
}

.about .is-active .about__videa-button {
  display: block;
}

.about__video-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.about__video-button {
  border: none;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;

  &--nojs {
    pointer-events: none;
  }

  @include focus {
    outline: 2px solid;
  }

  @include vp-tablet {
    width: 73px;
    height: 73px;
  }
}
