.advantages {
  padding-top: 148px;
  margin-bottom: 146px;
  background-color: $color-blocks-bg;

  @include vp-tablet {
    padding-top: 92px;
    margin-bottom: 86px;
  }

  @include vp-mobile {
    padding-top: 63px;
    margin-bottom: 54px;
  }
}

.advantages__container {
  max-width: 1136px;
  padding: 0 45px 73px;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-auto-flow: dense;
  gap: 137px 60px;

  @include vp-tablet {
    max-width: 768px;
    padding-bottom: 71px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 31px;
  }

  @include vp-mobile {
    max-width: 100%;
    padding: 0 0 41px;
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
  }
}

.advantages__title {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 33px;
  text-align: center;
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-tablet {
    margin-right: 32px;
    margin-bottom: 34px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-mobile {
    margin-right: 27px;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 38px;
  }
}

.advantages__wrapper {
  grid-column: 3;
  display: flex;
  column-gap: 30px;
  overflow-wrap: break-word;

  @include vp-tablet {
    grid-column: 2;
    margin-bottom: 20px;
  }

  @include vp-mobile {
    grid-column: 1/-1;
    max-width: 460px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding: 0 46px 20px;
    text-align: center;
  }

  &--left {
    padding-left: 23px;
    grid-column: 1;

    @include vp-tablet {
      padding-left: 0;
      grid-column: 1;
    }
  }
}

.advantages__quantity {
  margin: 0;
  margin-bottom: -12px;
  background-image: $gradient-number;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 71px;
  line-height: 123%;

  @include vp-tablet {
    font-size: 58px;
    margin-bottom: -12px;
  }

  @include vp-mobile {
    margin-bottom: -10px;
  }
}

.advantages__data span {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
}

.advantages__subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  padding: 16px 0 6px;

  @include vp-tablet {
    font-size: 20px;
    padding: 10px 0 0;
  }

  @include vp-mobile {
    padding-top: 8px;
  }
}

.advantages__text {
  margin: 0;
  margin-top: 4px;
  font-weight: 300;
}

.advantages__equipment {
  position: relative;
  grid-column: 2;
  grid-row: 2 span;
  max-width: 240px;
  margin: 21px auto auto;
  padding: 81px 34px 57px;
  background-color: $color-blue;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 340px;
    height: 2px;
    background-color: #d10a42;
    opacity: 0.2;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    right: 129px;
  }

  &::after {
    left: 471px;
  }

  @include vp-tablet {
    max-width: 442px;
    margin: 22px auto 35px;
    padding: 59px 135px 38px;
    grid-column: 1/-1;
    grid-row: 2;

    &::before,
    &::after {
      display: none;
    }
  }

  @include vp-mobile {
    margin: 22px auto 31px;
    grid-row: 3;
    padding: 36px 74px 20px;
    width: 100%;
    max-width: 100%;
    min-height: 239px;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

.advantages__equipment-count {
  text-align: center;
  font-weight: 700;

  p {
    margin: 0;
    font-size: 74px;
    margin-right: 3px;
    margin-bottom: 33px;

    @include vp-tablet {
      margin-right: 6px;
      margin-bottom: 27px;
    }
  }

  span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 26px;
    margin-bottom: 40px;

    @include vp-tablet {
      font-size: 22px;
      margin-bottom: 18px;
    }

    @include vp-mobile {
      margin: -7px 0 12px;
    }
  }
}
