.coach {
  @include vp-tablet {
    min-height: 423px;
  }
}

.coach__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 91px;
  overflow: hidden;

  @include vp-tablet {
    max-width: 678px;
    padding: 0 56px 100px;
  }

  @include vp-mobile {
    max-width: 500px;
    padding: 0 46px 70px;
  }
}

.coach__title {
  margin: 0;
  margin-bottom: 46px;
  grid-column: 1/-1;
  font-family: $font-secondary;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  font-weight: 600;

  @include vp-tablet {
    margin-right: 5px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-mobile {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

.coach__slider {
  margin: 0;
  display: flex;
  flex-direction: row;

  &--nojs .swiper-wrapper {
    gap: 20px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.coach__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coach__item-wrapper {
  position: relative;
  min-height: 294px;
  background-color: $color-default-black-transp;

  @include vp-mobile {
    min-height: auto;
  }
}

.coach__img {
  width: 100%;
  min-height: 294px;
  object-fit: cover;

  @include vp-tablet {
    width: 268px;
    max-height: 294px;
  }

  @include vp-mobile {
    width: 100%;
    max-height: 100vw;
    min-height: 274px;
  }
}

.coach__info-extra {
  display: none;

  span {
    display: block;
    text-align: center;
    color: #b6bdcc;
    font-size: 16px;
    line-height: 19px;
  }

  ul {
    margin: 0;
    padding: 32px 0 0 41px;
    list-style-type: none;
    color: $color-default-white;

    @include vp-mobile {
      padding-left: 30px;
    }

    li {
      position: relative;
      margin: 0 auto;
      margin-bottom: 13px;
      font-size: 14px;

      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-default-white;
        top: 8px;
        left: -15px;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.coach__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 50px 30px 23px;
  background-color: none;
  overflow-y: hidden;

  @include vp-tablet {
    padding: 50px 41px 23px;
  }

  @include vp-mobile {
    padding: 41px 20px 48px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $color-default-black;
    opacity: 0.89;

    .coach__info-extra {
      display: block;
      z-index: 3;
    }

    .coach__name {
      margin: 4px 0 -4px;

      @include vp-tablet {
        margin-top: 3px;
        padding-right: 14px;
      }

      @include vp-mobile {
        margin-top: 2px;
        margin-bottom: -5px;
        padding: 0;
      }
    }
  }
}

.coach__name {
  margin: auto auto 0;
  color: $color-default-white;
  font-size: 18px;
  text-align: center;

  @include vp-tablet {
    padding-left: 6px;
  }
}


.coach__item {
  width: 260px;
}

.coach__button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #afafaf;
  width: 18px;
  height: 34px;
  cursor: pointer;

  &--nojs {
    display: none;
  }

  @include hover-focus {
    outline-offset: 2px;
    outline-color: $color-default-black;
  }

  @include vp-mobile {
    width: 10px;
    height: 19px;

    .coach__icon {
      width: 10px;
      height: 19px;
    }
  }

  &--next {
    transform: rotate(180deg);
    top: 49%;
    right: 46px;

    @include vp-tablet {
      top: 44%;
      right: -2px;
    }

    @include vp-mobile {
      top: 49%;
      right: 13px;
    }
  }

  &--prev {
    top: 49%;
    left: 46px;

    @include vp-tablet {
      top: 44%;
      left: -2px;
    }

    @include vp-mobile {
      top: 49%;
      left: 13px;
    }
  }
}
