.date__title {
  margin: 0 0 9px 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  @include vp-tablet {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 1px;
    margin-bottom: 1px;

    &:first-child {
      width: 42px;
    }
  }
}

.date__description {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include vp-tablet {
    padding-bottom: 2px;
    width: 42px;
    height: 32px;
    margin: 0;
  }
}

.date__container {
  display: flex;
  flex-flow: column;
}


.date__number,
.date__time {
  width: max-content;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin-left: 2px;
  margin-right: 6px;

  @include vp-tablet {
    font-size: 24px;
    line-height: 36px;
    margin-right: 5px;
  }
}

.date__month,
.date__year {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @include vp-tablet {
    font-size: 10px;
    line-height: 11px;
  }
}

.date__month {
  @include vp-tablet {
    display: block;
    margin-top: 1px;
  }
}

.date__time,
.date__description {
  width: max-content;
  padding-top: 3px;
  border-top: 1px solid $color-default-white;

  @include vp-tablet {
    padding-top: 0;
  }
}

.date__time {
  display: block;
  line-height: 42px;
  padding-top: 2px;

  @include vp-tablet {
    padding-top: 2px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
