.event {
  min-height: 500px;
  margin-bottom: 107px;

  @include vp-tablet {
    margin-bottom: 100px;
    min-height: 292px;
  }

  @include vp-mobile {
    margin-bottom: 63px;
    min-height: 584px;
  }
}

.event__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include vp-mobile {
    flex-direction: column;
    max-width: 500px;
  }
}

.event__text {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 500px;
  min-width: 450px;
  padding: 85px 77px 85px;
  background-color: $color-red;
  color: $color-default-white;

  @include vp-tablet {
    width: 292px;
    min-width: auto;
    min-height: 292px;
    padding: 45px 38px 29px 45px;
  }

  @include vp-mobile {
    padding: 44px 37px 51px 41px;
    width: 100%;
  }
}

.event__date {
  display: flex;
  column-gap: 61px;

  @include vp-tablet {
    column-gap: 36px;
  }

  @include vp-mobile {
    justify-content: space-around;
  }
}

.event__title {
  margin: 0;
  padding-left: 11px;
  font-family: $font-secondary;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-size: 82px;
  line-height: 79px;
  text-align: center;
  text-transform: uppercase;

  @include vp-tablet {
    font-size: 48px;
    line-height: 46px;
    padding: 6px 0 0 6px;
  }

  @include vp-mobile {
    padding-left: 8px;
  }
}

.event__table {
  position: relative;
  margin: 0;
  margin-top: -5px;

  @include vp-tablet {
    min-width: 60px;
    margin-top: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    width: 64px;
    height: 1px;
    background-color: $color-default-white;

    @include vp-tablet {
      top: 20px;
      width: 42px;
    }
  }

  &::after {
    top: 127px;
    width: 88px;

    @include vp-tablet {
      top: 73px;
      width: 56px;
    }
  }
}

.event__item {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  @include vp-tablet {
    font-size: 12px;
    line-height: 18px;
  }

  &--number {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @include vp-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &--date {
    position: absolute;
    top: 36px;
    left: 28px;
    max-width: 40px;
    font-size: 14px;
    line-height: 21px;

    @include vp-tablet {
      top: 24px;
      left: 15px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &--time {
    margin-top: 0;
  }
}

.event__button {
  width: 100%;
  padding: 25px 10px 25px;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  text-align: center;
  font-family: $font-main;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-tablet {
    width: 97%;
    padding: 12px 10px;
    border: 2px solid $color-default-white;
    font-size: 10px;
    line-height: 12px;
  }
}

.event__description {
  margin: 11px 0 46px;
  font-size: 18px;

  @include vp-tablet {
    margin: -3px 0 26px;
    font-size: 12px;
  }

  @include vp-mobile {
    margin-left: 3px;
  }
}

.event__image {
  background-color: $color-default-black;

  @include vp-tablet {
    max-width: 386px;
  }

  @include vp-mobile {
    min-width: 100%;
    min-height: 100%;
  }
}

.event__image img {
  max-width: content;

  @include vp-tablet {
    min-width: 100%;
  }

  @include vp-mobile {
    min-height: 292px;
  }
}
