.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-default-white;
  background-color: $color-footer-bg;

  @include vp-mobile {
    position: relative;
    flex-direction: column;
    padding: 45px 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 100px;
  padding-top: 38px;
  padding-bottom: 38px;

  @include vp-tablet {
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 33px;
    gap: 10px;
  }

  @include vp-mobile {
    position: relative;
    justify-content: start;
    flex-wrap: wrap;
    gap: 22px;
  }
}

.footer__logo {
  margin-top: 5px;

  @include vp-tablet {
    margin-top: 1px;
  }

  @include vp-mobile {
    position: absolute;
    top: 3px;
    left: 15px;
  }
}

.footer__logo svg {
  fill: $color-default-white;
  width: 88px;
  height: 32px;

  @include vp-tablet {
    width: 82px;
    height: 18px;
  }

  @include vp-mobile {
    width: 68px;
    height: 15px;
  }
}

.footer__nav-menu {
  display: flex;
  align-items: baseline;

  @include vp-mobile {
    width: 100%;
  }
}
