.header {
  min-height: 657px;
  color: $color-default-white;
  background: $gradient-main-desktop;
  font-family: $font-secondary;
  margin-bottom: 120px;

  @include vp-tablet {
    background: $gradient-main-tablet;
    min-height: 554px;
    margin-bottom: 100px;
  }

  @include vp-mobile {
    background: $gradient-main-mobile;
    min-height: 491px;
    margin-bottom: 64px;
  }
}

.header__wrapper {
  @include vp-tablet {
    margin-bottom: 25px;
  }

  @include vp-mobile {
    margin-bottom: 23px;
  }
}

.header__logo {
  margin-right: 30px;
}

.header__container {
  display: flex;
  gap: 10px 30px;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;

  @include vp-tablet {
    padding-top: 37px;
  }

  @include vp-mobile {
    padding-top: 15px;
  }
}

.header__tel {
  position: relative;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 5;


  @include vp-tablet {
    width: 85%;
    align-items: unset;
  }

  @include vp-mobile {
    width: 75%;
  }
}

.header__tel-link {
  font-family: $font-secondary;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-tablet {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-mobile {
    font-size: 20px;
    line-height: 24px;
  }
}
