.header {
  min-height: 657px;
  color: $color-default-white;
  background: $gradient-main-desktop;
  font-family: $font-secondary;
  margin-bottom: 120px;

  @include vp-tablet {
    background: $gradient-main-tablet;
    min-height: 554px;
    margin-bottom: 100px;
  }

  @include vp-mobile {
    background: $gradient-main-mobile;
    min-height: 491px;
    margin-bottom: 64px;
  }
}

.header__wrapper {
  @include vp-tablet {
    margin-bottom: 25px;
  }

  @include vp-mobile {
    margin-bottom: 23px;
  }
}

.header__logo {
  margin-right: 30px;

  @include vp-tablet {
    margin-top: 5px;
  }
}

.header__container {
  display: flex;
  gap: 10px 30px;
  justify-content: flex-start;
  padding-top: 30px;
  align-items: flex-start;

  @include vp-tablet {
    padding-top: 36px;
    padding-bottom: 1px;
  }

  @include vp-mobile {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.header__tel {
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 20px;
  z-index: 5;
  max-width: 750px;

  @include vp-mobile {
    margin-top: 6px;
  }
  gap: 10px;
}

.header__tel-link {
  font-family: $font-secondary;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-tablet {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-left: auto;
  }

  @include vp-mobile {
    font-size: 20px;
    line-height: 24px;
  }
}
