.promotion {
  padding-top: 50px;
  padding-bottom: 30px;

  @include vp-tablet {
    padding-top: 10px;
  }
}

.promotion__container {
  display: flex;
  gap: 20px 40px;
  justify-content: center;

  @include vp-tablet {
    flex-wrap: wrap;
    row-gap: 31px;
  }

  @include vp-mobile {
    max-width: 460px;
  }
}

.promotion__title {
  margin: 0 0 33px;
  text-align: center;
  font-family: $font-secondary;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-tablet {
    margin-right: 7px;
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-mobile {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}


.promotion__main {
  align-self: center;
}

.promotion__main-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;

  @include vp-mobile {
    flex-wrap: wrap;
  }
}

.promotion__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;
  min-height: 462px;
  padding: 44px 45px 45px;
  color: $color-default-white;
  background-color: $color-red;
  font-weight: 700;

  @include vp-tablet {
    padding-top: 44px;
    padding-bottom: 43px;
  }

  @include vp-mobile {
    max-width: 100%;
    min-height: 299px;
    padding-bottom: 43px;
    align-items: center;
  }
}

.promotion__year {
  font-size: 28px;
}

.promotion__price {
  font-size: 70px;
  margin: 29px 0 23px;

  @include vp-mobile {
    margin-bottom: 40px;
  }
}

.promotion__description {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;

  @include vp-mobile {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 28px;
  }
}

.promotion__link {
  position: relative;
  font-size: 14px;
  margin: auto auto 0 0;
  text-transform: uppercase;
  color: $color-default-white;
  letter-spacing: 0.05em;

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-mobile {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-default-white;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 1px;
    right: 0;
  }
}

.promotion__image {
  margin: 0;
  background-color: $color-blue;

  @include vp-mobile {
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;

    @include vp-tablet {
      min-width: 399px;
      height: 462px;
    }

    @include vp-mobile {
      min-width: 100%;
      max-height: 500px;
      height: calc(100vw - 21px);
    }
  }
}

.promotion__info {
  flex-grow: 1;
}

.promotion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 40px 0;

  @include vp-tablet {
    flex-direction: row;
    gap: 30px;
  }
}

.promotion__item {
  color: $color-blue;
  display: flex;
  flex-direction: column;
  min-height: 211px;
  max-width: 560px;
  width: 100%;
  border: 7px solid;
  border-image: linear-gradient(142.51deg, #d10a42 0, #0041ca 87.33%) 1;
  padding: 25px 28px 30px;

  @include vp-tablet {
    max-width: 324px;
    padding: 25px 42px 30px 28px;
  }

  @include vp-mobile {
    max-width: 100%;
    text-align: center;
    padding: 36px 29px 36px 28px;
  }

  h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
  }

  span {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 10px;
  }

  a {
    position: relative;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto auto 0 0;
    letter-spacing: 0.05em;
    font-size: 12px;
    line-height: 14px;
    outline-color: $color-default-black;

    @include hover-focus {
      opacity: 0.8;
    }

    @include vp-mobile {
      margin: auto;
      margin-top: 24px;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $color-blue;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: -1px;
      right: 0;

      @include vp-tablet {
        bottom: -2px;
      }
    }
  }
}
