.reviews__container {
  position: relative;
  max-width: 767px;
  padding: 88px 103px 120px;

  @include vp-tablet {
    max-width: 767px;
    padding: 60px 101px 99px;
  }

  @include vp-mobile {
    max-width: 340px;
    padding: 33px 47px 70px;
  }
}

.reviews__title {
  margin: 0 0 36px 8px;
  text-align: center;
  font-family: $font-secondary;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-tablet {
    margin-left: -2px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-mobile {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--nojs {
    display: none;
  }


  &--next {
    rotate: 180deg;
    top: 293px;
    left: 91%;

    @include vp-tablet {
      left: 91.3%;
      top: 51%;
    }

    @include vp-mobile {
      top: 52%;
      left: 90%;
    }
  }

  &--prev {
    top: 293px;
    left: 5%;

    @include vp-tablet {
      left: 5%;
      top: 51%;
    }

    @include vp-mobile {
      top: 52%;
      left: 3%;
    }
  }
}

.reviews__arrow {
  @include vp-mobile {
    width: 10px;
    height: 19px;
  }
}

.reviews__slider {
  &--nojs .reviews__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.reviews__slide {
  background-color: $color-blue;
}

.reviews__content {
  color: $color-default-white;
  min-height: 242px;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  @include vp-mobile {
    min-height: 335px;
  }
}

.reviews__content-wrapper {
  display: grid;
  grid-template-columns: 80px auto;
  padding: 55px 62px 57px;
  gap: 0 28px;


  @include vp-tablet {
    padding: 56px 60px 58px 64px;
    gap: 0 29px;
  }

  @include vp-mobile {
    grid-template-columns: 68px auto;
    padding: 32px 25px 32px 25px;
    gap: 12px 31px;
  }
}

.reviews__name {
  grid-column: 2;
  grid-row: 1;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;

  @include vp-mobile {
    grid-column: 2;
    line-height: 26px;
    padding-top: 16px;
  }
}


.reviews__description {
  margin: 0;
  grid-column: 2;
  line-height: 1.4;

  @include vp-mobile {
    grid-column: 1/-1;
    grid-row: 2 span;
    text-align: center;
  }
}

.reviews__picture {
  margin: 0;
  grid-column: 1;
  grid-row: 2 span;

  @include vp-mobile {
    grid-row: 1 span;
  }
}

.reviews__avatar {
  border-radius: 50%;
  margin: 8px 0 0;

  @include vp-mobile {
    margin: 8px 0 0 16px;
  }
}
