.social {
  max-width: 100px;
  min-width: 100px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;

  @include vp-mobile {

    justify-content: flex-start;
  }
}

.social__item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
}

.social__link {
  display: block;
}

.social__link:hover .social__icon,
.social__link a:focus .social__icon {
  opacity: 0.5;
}

.social__icon {
  fill: $color-default-white;
}
