.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  max-width: 250px;
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-mobile {
    margin-top: 13px;
    justify-content: flex-start;
  }
}

.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-tablet {
    margin-right: 20px;
  }

  @include vp-mobile {
    margin-right: 11px;
  }
}

.social__link:hover .social__icon,
.social__link a:focus .social__icon {
  opacity: 0.5;
}

.social__icon {
  fill: $color-default-white;
}
